/*Text*/

h1 {
    font-family:Dancing Script;
    font-size: 60px;
}

h3 {
    font-family:Dancing Script;
    font-size: 40px;
    text-align: center;
}

p {
   font-family:Arial;
   line-height: 1.5;
}

h4 {
font-family:Arial;
font-size: 17px;
}
/*header*/

header {
    padding: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
}

.side_button{
    flex: 0 0 20px;
    padding: 2em 2.7em;
    text-align:right;
    width: 100px;
    height: 50px;
    align-self: center;
}
/*footer */

footer {
    display: block;
    position: absolute;
    padding: 0em;
    height: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #bbb;
    border-top: 2px solid #bbb;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    z-index: 0
}

@media (max-width: 1500px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: 9.2em;
  }
}

.left-align {
    text-align: left;
    margin: 15px;
}
  
.mid-align {
    text-align: center; 
    margin: 15px;

}
  
.right-align {
    text-align: right;
    margin: 15px;

}



/* Side Bar*/

.mySidebar{
    background-color:#6699CC;
    height:100%; 
    width:360px;
    position:fixed;
    top:0;
    right:0;
    box-shadow: -15px 0 0 #bbb;
    z-index:2;
}

.mySidebar a {
    text-decoration: none;
    font-family:Arial;
    font-size: 25px;
    width:100%;
    display:block;
    text-align:left; 
    padding: 17px 30px;
    border-bottom: 2px solid #bbb;
    z-index:1;
}

.mySidebar a:first-child {
    font-size: 35px;
}
.mySidebar a:last-child {
    border-top: 2px solid #bbb;
    position: fixed;
    bottom: 0;
}
.mySidebar a:hover{
    background-color: #3498db;
}

.SideBar_animation{
    position:fixed;
    animation:fadeRight 0.6s;
    z-index:1;
}

    @keyframes fadeRight{
        from{
            right:-300px;
            opacity:0
        } 
        to
        {
            right:0;
            opacity:1;
        }
    }


.display_overlay{
    position:fixed;
    display:none;
    height:100%;
    top:0;
    left:0;
    right:0x;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:0;
    animation: moveIn 0.6s forwards;
}

@keyframes moveIn{
    from{
        width:100%
    } 
    to
    {
        width:calc(100% - 375px);
    }
}



/*Colours*/
header {background-color:#6699CC;}
footer {background-color: #6699CC;}
ul {background-color: #3498db;}
.container {background-color: #e9e9e9;}

/* Nav Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #bbb;
    border-top: 2px solid #bbb;
}
  
li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2em 2.7em;
    font-family:Arial;
    text-decoration: none;
    
}

li:hover {
    transition: all 0.3s;
    background-color:#6699CC;
   
}

@media (max-width: 1500px) {
  ul a{
    padding: 1em 1.4em;
  }
}

@media (max-width: 600px) {
    ul a{
      padding: 0.5em 0.6em;
    }
  }

/*main*/

html{
    position:relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding:0;
    min-height: 100%

}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 60em;
    margin-bottom: 0px;
}
main {
    flex: 1;
}

main p {
    text-align: left;
    font-size: 22px;

}

aside {
    flex: 0 0 40%;
    text-align: center;
    margin: 25px 0px;
    min-width: 750px;
}

.visable_box {
    margin: 25px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 50px grey;
}
@media (max-width: 1500px) {
  .container {
    flex-direction: column;
    align-items: center;
    min-height: 125em;
  }
}

@media (max-width: 650px) {
    .container {
      flex-direction: column;
      align-items: center;
      min-height: 147em;
    }
  }

/*images*/


.Images {
    border-radius: 25px;
    box-shadow: 5px 5px 50px grey;
    Width:50%;
    Height:auto;
}
  
  
  
